.ul {
  list-style: none;
  counter-reset: steps;
}
.ul .li {
  counter-increment: steps;
}
.ul .li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #ff0000;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
.ul .ul .li::before {
  background: darkorchid;
}

  